*{

    padding: 0;
    margin: 0;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(1709796602047.jpg) no-repeat center/cover;
    height: 60vh;
    color: #ddd;

}
.nav {
    display: flex;
    background: #00008b67;
    justify-content: space-between;
    padding: 1.3% 2%;
    align-items: center;

}
.mid-nav {
    padding: 0 0.5rem;
    margin-left: 20px;
}
.mid-nav ul{
    display: flex;
    align-items: center
}
.mid-nav ul li {
    color: rgb(255, 255, 255);
    justify-content: space-between;
    display: inline-block;
    list-style: none;
    
    padding: 9px 23px;
 
}
.mid-nav ul li a {
    text-decoration: none;
    color: #fff;
    text-align: center;
   
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #ffffff;
    background: #ffae00;
    transition: 1s;
}
.logo {
  
    height: 50px;
}
.logo2 {
    width: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo4 {
    padding: 30vh;
    text-align: center;
    color: white;
    font-size: 100px;
    justify-content: center;
    top: 50%;
    left: 50%;
    
    
}

/*----reels---*/
.trainings {
    top: 80%;
    left: 0%;
    position: absolute;
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 140px;
}

p {
    color: #585555;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px 30px;
    
}

.video-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.facilities {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10vh;
  

}
.facilities h1{
    color: #585555;

}
.row {
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
 


}
.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: justify;
    font-size: 30px;
    background: #cbc6fc;
    cursor: pointer;

}

.facilities-col:hover {
    box-shadow: 0 0 20px 0px #00008b;
    transition: .5s;

}
.facilities-col h3 {
    text-align: center;
    margin-top: 20px;
    color: #0300bb;
    
}

.facilities-col img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.gallery-item2 {
   flex-basis: 32px;
   border-radius: 10px;
   margin-bottom: 30px;
   position: relative;
  

}
.gallery-item2 img {
    width: 200%;
}
.gallery-item2 img:hover {
    transform: scale(1.1); /* Scale the image on hover */
}


h1 {
    color: black;
}
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.video-item {
    margin: 10px;
    cursor: pointer;
}
.video-item video {
    width: 320px; /* Set width of the video */
    border: 2px solid blue; /* Add border to the video */
    border-radius: 5px; /* Add border-radius to create rounded corners */
    transition: transform 0.3s ease; /* Add smooth transition for scaling */
}
.video-item video:hover {
    transform: scale(1.1); /* Scale the video on hover */
}
.centered-paragraph {
    text-align: center; /* only be using this when texts are too short */
}


.gallery-item {
    margin: 10px;
    cursor: pointer;
    display: flex;
}
.gallery-item img {
    width: 200px; /* Set width of the thumbnail */
    border: 2px solid white; /* Add border to the image */
    border-radius: 5px; /* Add border-radius to create rounded corners */
    transition: transform 0.3s ease; /* Add smooth transition for scaling */
}
.gallery-item img:hover {
    transform: scale(1.1); /* Scale the image on hover */
}