@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    color: #eee;
    background: linear-gradient(180deg, #000420,#08001d);
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}
.nav {
    display: flex;
    background: linear-gradient(60deg, #00008b,#ffa500);
    justify-content: space-between;
    padding: 1% 36% 1% 10%;
    align-items: center;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
header{
    width: 150%;
    max-width: 100vw;
    height: 50px;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: #eee;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 20px;
}
header a:hover {
    font-weight: 700;
    font-stretch: condensed;
    transition: .3s;
    box-shadow: 0px 0px 15px #ffa500;

}
/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
   
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 28%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 37%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 3.4em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .des {
    font-size: 20px;

}
.carousel .list .item .topic{
    color: #ffa500;
    font-size: 24px;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 40px;
    left: 48%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}
.buttons button {
    top: 300%;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.1s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.3s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.4s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #ffa500;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
.logo {
  
    
    height: 50px;
  
}
.layer {
    background: linear-gradient( to right, #00006691, #0000007a);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer2 {
    background: linear-gradient(5deg, #01001b, #000950a8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layers {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.5s;
    
}
.item:hover {
    box-shadow: 0px 20px 20px #ffa500;
    border-radius: 20px;
    transition: .5s;


}
.layers:hover {
    background: linear-gradient(#01013369, #01004d);
    backdrop-filter: blur(3px);
    
}
.layers h3 {
    width: 80%;
    font-weight: 500;
    color: #eee;
    font-size: 10px;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    padding: 0px 6px 0px 6px;
    transition: 0.5s;
    margin-left: 2px;
    margin-right: 2px;
}
.layers:hover h3 {
    bottom: 40%;
    opacity: 1;

}
.content {
    font-size: 13px;
    width: 25%;
}
.body {
    background: linear-gradient(180deg, #000066, #0000007a);
    height: 500%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.training-content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1px;
    padding: 1px;
}
#slider {
    position: relative;
    width: 60%;
    height: 70vh;
    margin: 100px auto;
    transform-style: preserve-3d;
    font-family: 'Courier New', Courier, monospace;
    perspective: 2400px;

}
input[type="radio"] {
    position: relative;
    top: 108%;
    left: 15%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    transform: translateX(-83px);
    cursor: pointer;
    opacity: 0.4;

}
input [type="radio"]:nth-child(5) {
    margin-right: 0px;
}

input [type="radio"]:checked {
    opacity: 0;

}
#slider label,
#slider label img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 400ms ease;
}
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    transform: translate3d(0%, 0, 0px);
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    transform: translate3d(20%, 0, -100px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0, 2px 2px rgba(0, 0, 0, 0.2) ;
}
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    transform: translate3d(-20%, 0, -100px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    transform: translate3d(40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    transform: translate3d(-40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.overview {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;

}
.overview h1 {
    font-size: 36px;
    font-weight: 600;
    
}
.overview p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px;
    width: 70%;
    margin-left: 20%;

}
.video-container {
    overflow-x: auto;
    scrollbar-width: none;

}
.video-container .vd-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    grid-template-columns: repeat(10, 1fr);
    cursor: pointer;
    margin-bottom: 30px;
     
}

.video-item video {
    width: 200px; /* Set width of the video */
    border: 2px solid white; /* Add border to the video */
    transition: transform 0.3s ease; /* Add smooth transition for scaling */
    border-radius: 20px;
}
.video-item video:hover {
    box-shadow: 0px 0px 20px #ffa500;
    border-radius: 20px;
    transition: .3s;
}
.video-container .vd-list::-webkit-scrollbar {
    display: none;
    
}
.video-container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.vd-list .slide-button {
    position: absolute;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #8888879f;
    cursor: pointer;
    border-radius: 50%;
    font-family: monospace;
    font-weight: bold;
    
}
.vd-list button:hover{
    background-color: #fff;
    color: #000;
}
.vd-list .slide-button#prev-slide {
    left: -20px;
}
.vd-list .slide-button#next-slide {
    right: -20px;
}

.slider-scrollbar .scrollbar-btn {
    height: 2px;
    width: 100%;
    background: #bfbfc7;
    border-radius: 4px;

}
.slider-scrollbar:hover .scrollbar-btn {
    height: 4px;
}

.slider-scrollbar .scroller {
    position: absolute;
    height: 3px;
    width: 50%;
    background: #01d425f6;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar:hover .scroller:active {
    cursor: grab;
    height: 8px;
    top: -2px;

}
.slider-scrollbar .scroller::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;

}